body
{
}

ul
{
    list-style:none;
    margin-left:-2em;
}

.underline:first-child
{
    background-color:green;
}

    ul li ul li
    {
        color:gray;
        margin-left: 1em;
        display:none;
    }

    ul li:hover ul li
    {
        display:block;
    }

a
{
    text-decoration:none;
    color:inherit;
}

    a:hover
    {
        text-decoration:underline;
    }

    
