body
{
    background: rgb(238, 238, 238);
}

h1
{
    font-size:20px;
    font-weight:normal;
    margin-left:10px;
}

.section
{
}

.sectionContent
{
    border:1px solid gray;
    background:white;
    width: 386px;
    height:90px;
    padding:20px;
    margin:10px;
    margin-top:30px;

}

.image
{
    float:left;
    margin-right:15px;
}

.butt1
{
    background:url('button.png');
    width: 75px;
    height: 27px;
}

.butt2
{
    background:url('smallerButton.png');
    width: 63px;
    height: 27px;
}

span
{
    margin-left: 10px;
}

button
{
    border-top:1px;
    border-left:1px;
    border-right:none;
    border-color: #800;
    color:white;
    border-top-color: rgb(227, 132, 130);
    border-left-color: rgb(227, 132, 130);
}

.button
{
    margin-top:15px;
    float:right;
}